<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>MOM: Daily Standup Call Email</title>
    <style>
        table {
            border-collapse: collapse;
        }

        tr {
            border-bottom: 1px solid #ccc;
        }

        div {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
        }

        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 0px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            font-family: Arial, Helvetica, sans-serif;
        }

        a {
            outline: none;
        }

        th,
        td {
            border-right: 1px solid #ccc;
        }

        th:last-child,
        td:last-child {
            border-right: none;
        }

        .firstRow {
            font-weight: bold;
            background-color: #f0f0f0;
        }


        h3 {
            margin-top: 20px;
            font-size: 18px;
            font-weight: bold;
        }

        p {
            margin-top: 10px;
        }

        .end-content+div,
        .end-content+div+div {
            display: none !important;
        }
    </style>
</head>

<body>
    <h4 style="font-weight: bold;">Mode of Meeting: <span style="font-size: 13px;">Skype Call</span></h4>
    <h4 style="font-weight: bold;">Date and Time:<span style="font-size: 13px;">
            <%= `${String(new Date()).replace(/\sGMT\+\d+\s\(India Standard Time\)/, "" )}` %>
        </span></h4>

    <h4 style="font-weight: bold;">Attendees with status</h4>

    <table>
        <th>
            <tr class="firstRow">
                <td>Name</td>
                <td>Attendance</td>
                <td>Days Present In Call</td>
                <td>Working On- Client Name</td>
                <td>Today's Update</td>
                <td>From Date</td>
                <td>Tentative End Date</td>
                <td>Last Review Done date by TL</td>
                <td>Working From</td>
            </tr>
        </th>
        <tbody>
            <% if (data.length===0) { %>
                <tr>
                    <td colSpan="11" align="center">
                        No data yet
                    </td>
                </tr>
                <% } else { %>
                    <% data.map((row)=> { %>
                        <tr key="<%= row._id %>">

                            <td>
                                <%= row.firstName %>
                                    <%= row.lastName %>
                            </td>
                            <td>
                                <%= row.attendance %>
                            </td>
                            <td>
                                <%= row.count %>
                            </td>
                            <td>
                                <%= row.workingStatus %>
                            </td>
                            <td>
                                <%= row.updates %>
                            </td>
                            <td>
                                <%= row.fromDate %>
                            </td>
                            <td>
                                <%= row.toDate %>
                            </td>
                            <td>
                                <%= row.reviewDate %>
                            </td>

                            <td>
                                <%= row.workingFrom %>
                            </td>

                        </tr>
                        <% }); %>
                            <% } %>
        </tbody>
    </table>


    <h3>Points Discussed:</h3>
    <p>
        <%= mailData.pointsDiscussed %>

            <!-- 1. First point<br>
        2. Second point<br>
        3. Third point -->
    </p>

    <h3>Action items:</h3>
    <p>
        <%= mailData.actionItems %>
            <!-- 1. Action item<br>
        2. Action item<br>
        3. Action item -->
    </p>

    <h3>Blocker or Highlights:</h3>
    <p>
        <%= mailData.blockersAndHeighlights %>

    </p>

    <h4>Regards,</h4>

    <span class="end-content">--</span>

    <table style="border : 0">
        <tr style="border : 0">
            <td align="left" valign="top" style="border : 0">
                <table style="border : 0" width="500" align="left" cellpadding="0" cellspacing="0"
                    style="width: 500px;">
                    <tr style="border : 0">
                        <td style="border : 0" align="left" valign cellspacing="0" cellpadding="0">
                    <tr style="border : 0">
                        <td width="270" align="left" valign="top" style="width: 270px; border : 0">
                            <table
                                style="border : 0;font-family:Arial, Helvetica, sans-serif; color:#585858; margin-left:0px;margin-top: 7px;margin-right: 10px;"
                                width="95%" align="left" cellpadding="3" cellspacing="0">
                                <tr style="border : 0">
                                    <td colspan="3" align="left" valign="top"
                                        style="color:#000; border : 0;font-size:1.35em; font-weight:600; font-family:Arial, Helvetica, sans-serif;padding: 0;">
                                        <%= mailData.teamLeadName %>
                                    </td>
                                </tr>
                                <tr style="border : 0">
                                    <td height="18" colspan="3" align="left" valign="top"
                                        style="font-size:0.85em; border : 0;font-family:Arial, Helvetica, sans-serif; color:#585858; font-weight:600;margin-bottom: 5px;">
                                        Sr. Software Engineer</td>
                                </tr>
                                <tr style="border : 0">
                                    <td align="left" valign="middle"
                                        style="font-size:0.8em; border : 0;color:#585858; font-weight:normal;"><img
                                            src="https://marketing.neosofttech.com/sign/new/sign2/call.png" width="12"
                                            height="13" style="width: 12px;height: 13px;" /></td>
                                    <td width="284" align="left" valign="top"
                                        style="font-size:0.8em; color:#333; font-weight:normal;border : 0"><a
                                            href="tel:8956735057" target="_blank"
                                            style="color: #333 !important;text-decoration: none !important;"><span
                                                style="color: #333;text-decoration: none !important;">
                                                <font style="color: #333;text-decoration: none !important;border : 0">
                                                    <%= mailData.teamLeadContact %>
                                                </font>
                                            </span></a></td>
                                </tr>
                                <tr style="border: 0;">
                                    <td width="15" align="left" valign="middle"
                                        style="font-size:0.8em; color:#585858; font-weight:normal;border : 0"><img
                                            src="https://marketing.neosofttech.com/sign/new/sign2/mail.png" width="12"
                                            height="9" style="width: 12px;height: 9px;" /></td>
                                    <td width="284" align="left" valign="top"
                                        style="font-size:0.8em; color:#333; font-weight:normal;border : 0"><a
                                            href="mailto:jeff.thaiparambil@neosoftmail.com" target="_blank"
                                            style="color: #333 !important;text-decoration: none !important;"><span
                                                style="color: #333;text-decoration: none !important;">
                                                <font style="color: #333;text-decoration: none !important;border : 0">
                                                    <%= mailData.teamLeadEmail %>
                                                </font>
                                            </span></a></td>
                                </tr>
                                <tr style="border: 0;">
                                    <td width="15" align="left" valign="middle"
                                        style="font-size:0.8em; color:#585858; font-weight:normal;border : 0"><img
                                            src="https://marketing.neosofttech.com/sign/new/sign2/skype.png" width="11"
                                            height="11" style="width: 11px;height: 11px;  border: 0" /></td>
                                    <td width="284" align="left" valign="top"
                                        style="font-size:0.8em; color:#333; font-weight:normal;border : 0 "><a
                                            href="https://join.skype.com/invite/xNPHRr6yRMd0" target="_blank"
                                            style="color: #333 !important;text-decoration: none !important;border:0"><span
                                                style="color: #333;text-decoration: none !important; border:0">
                                                <font style="color: #333;text-decoration: none !important;border : 0 ">
                                                    <%= mailData.teamLeadName %>
                                                </font>
                                            </span></a></td>
                                </tr>
                                <tr style="border: 0;">
                                    <td width="15" align="left" valign="middle"
                                        style="font-size:0.8em; color:#585858; font-weight:normal;border : 0"><img
                                            src="https://marketing.neosofttech.com/sign/new/sign2/web.png" width="11"
                                            height="11" style="width: 11px;height: 11px; border:0" /></td>
                                    <td width="284" align="left" valign="top"
                                        style="font-size:0.8em; color:#333; font-weight:normal; border : 0"><a
                                            href="https://www.neosofttech.com/" target="_blank"
                                            style="color: #333 !important;text-decoration: none !important; border:0"><span
                                                style="color: #333;text-decoration: none !important;">
                                                <font style="color: #333;text-decoration: none !important;border : 0">
                                                    www.neosofttech.com</font>
                                            </span></a></td>
                                </tr>
                                <tr style="border: 0;">
                                    <td colspan="2" align="left" valign="top"
                                        style="font-size:0.750em; color:#585858; font-weight:normal;border : 0">
                                        <table width="100" cellspacing="0" cellpadding="3"
                                            style="margin-top:3px;margin-bottom: 3px;margin-left: -3px;border : 0">
                                            <tr style="border:0">
                                                <td align="center" valign="middle" style="border : 0"><a
                                                        href="https://www.linkedin.com/company/neosoft-technologies/"
                                                        target="_new"><img
                                                            src="https://marketing.neosofttech.com/sign/new/sign2/ln.png"
                                                            width="19" height="19"
                                                            style="width: 19px;height: 19px;" /></a></td>
                                                <td align="center" valign="middle" style="border : 0"><a
                                                        href="https://www.facebook.com/neosofttechnologies/"
                                                        target="_new"><img
                                                            src="https://marketing.neosofttech.com/sign/new/sign2/fb.png"
                                                            width="19" height="19"
                                                            style="width: 19px;height: 19px;" /></a></td>
                                                <td align="center" valign="middle" style="border : 0"><a
                                                        href="https://www.youtube.com/channel/UCRCbn5adUPg5QFCB-Rw7L7w"
                                                        target="_new"><img
                                                            src="https://marketing.neosofttech.com/sign/new/sign2/yt.png"
                                                            width="19" height="19"
                                                            style="width: 19px;height: 19px;" /></a></td>
                                                <td align="center" valign="middle" style="border : 0"><a
                                                        href="https://twitter.com/neosofttech" target="_new"><img
                                                            src="https://marketing.neosofttech.com/sign/new/sign2/tw.png"
                                                            width="19" height="19"
                                                            style="width: 19px;height: 19px;" /></a></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td valign="middle"
                            style="padding-left: 20px;width: 330px;border-left: 1px solid rgb(195, 194, 194); border-right: 0;"
                            width="230" ;>
                            <img src="https://marketing.neosofttech.com/sign/new/sign2/right-img.png" alt=""
                                width="210px" height="145px">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    </td>
    </tr>
    </table>


</body>

</html>